---
layout: default
title: Projects by YellowDi
pageTitle: "Projects"
route: projects

projects:
- name: Elenore
  url: https://yellowdi.github.io/Elenore/
  slug: elenore
  date: Jul 2017
  content: >
    <p>Elenore is an open source CSS framework based on Flexbox and built with Sass.It's 100% responsive, fully modular, and available for free.</p>
  icons: ['creative-commons-icon', 'github-alt', 'css3']
---

<main id="projects">
{% for project in page.projects %}
  <article class="item project project--{{project.slug}}">

    <div class="item-container">
      <div class="columns">
        <div class="column is-2">
          <p class="item-info">{{project.date}}</p>
        </div>

        <div class="column is-5">
          <h2 class="item-box projects-title">
            <a class="item-box-link" href="{{project.url}}">
              <span class="item-box-background"></span>
              <span class="item-box-text">{{project.name}}</span>
            </a>
          </h2>

          <p class="item-link">
            <a href="{{project.url}}">
              {% if project.domain == nil or project.domain == "" %}
                {{project.url | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first}}
              {% else %}
                {{project.domain}}
              {% endif %}
            </a>
          </p>

          <div class="item-content">
            {{project.content}}
          </div>

          <ul class="item-icons">
            {% for icon in project.icons %}
              {% assign svgpath = icon | prepend: "svg/" | append: ".html" %}
              <li>{% include {{svgpath}} %}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="column is-5">
          <a class="item-image" href="{{project.url}}">
            <img class="b-lazy" data-src="/images/projects/{{project.slug}}.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            <noscript>
              <img src="/images/projects/{{project.slug}}.png">
            </noscript>
          </a>
        </div>
      </div>
    </div>
  </article>
{% endfor %}
</main>
