<nav id="nav" class="nav">
  <a class="nav-link is-articles {% if page.route == 'articles' or page.layout == 'post' %} is-active{% endif %}"
    href="/articles"
    data-title="Articles"
    data-color="#2478ff"
    data-invert="true"
    data-other-color="aliceblue">
    {% include icons/square.html %}
  </a>
  <a class="nav-link is-open-source {% if page.route == 'open-source' %} is-active{% endif %}"
    href="/open-source"
    data-title="Open Source"
    data-color="#24ff70"
    data-invert="true"
    data-other-color="honeydew">
    {% include icons/circle.html %}
  </a>
  <a class="nav-link is-projects {% if page.route == 'projects' %} is-active{% endif %}"
    href="/projects"
    data-title="Projects"
    data-color="#24ffde"
    data-invert="true"
    data-other-color="azure">
    {% include icons/diamond.html %}
  </a>
  <a class="nav-link is-links {% if page.route == 'photo' %} is-active{% endif %}"
    href="/photo"
    data-title="Photo"
    data-color="#9524ff"
    data-invert="true"
    data-other-color="ghostwhite">
    {% include icons/right.html %}
  </a>
</nav>
