<!DOCTYPE html>
<html class="{% if page.route %}is-{{page.route}}{% elsif page.layout %}is-{{page.layout}}{% endif %}">
  {% include head.html %}
  <body>
    <header class="header">
      {% include logo.html %}
      {% if page.route == "index" %}
        <div class="hello">
          <h1>
            Frontend Designer from Ningbo, currently work at R2 as a designer and developer.
          </h1>
          <p>
            Design × Ruby × JavaScript × Accessibility × CSS
          </p>
          <p>
            <small>
              I'm also a Arcane Mage on Azeroth  :)
            </small>
          </p>
        </div>
      {% endif %}
      {% include navbar.html %}
    </header>
    {% if page.route != "index" and  page.layout != "post" %}
      {% include glyph.html %}
    {% endif %}
    <h1 id="title" class="title">
      <div>
        {{page.pageTitle}}
      </div>
    </h1>
    <main id="content" class="content">
      {{content}}
    </main>
    <footer class="elsewhere">
      <a data-color="#55acee" data-title="" class="elsewhere-link is-twitter" href="https://twitter.com/yellowdi">
        {% include svg/twitter.html %}
      </a>
      <a data-color="#333333" data-title="" class="elsewhere-link is-github" href="https://github.com/yellowdi">
        {% include svg/github.html %}
      </a>
      <a data-color="#333333" data-title="" class="elsewhere-link is-instagram" href="https://instagram.com/yellowdi">
        {% include svg/instagram.html %}
      </a>
    </footer>
    {% include scripts.html %}
  </body>
</html>
