---
layout: default
route: post
---

<header id="{{page.id | remove:'/'}}" class="heading {% if page.recommended == true %} is-recommended{% endif %}">
  {% if page.backgroundImage %}
    <figure class="heading-background" style="background-image: url(/images/articles/{{page.backgroundImage}})"></figure>
  {% endif %}
  {% if page.customImage %}
    <img class="heading-customimage" src="/images/articles/{{page.customImage}}">
  {% endif %}
  <div class="heading-container">
    <p class="heading-info">
      {{page.date | date_to_string}} in {{page.category}}
    </p>
    <h1 class="heading-title">{{page.title}}</h1>
    <h2 class="heading-introduction">{{page.introduction}}</h2>
  </div>
</header>

<section id="post" class="post-main">
  <div class="container">
    <article id="content" class="post-content">
      {{content}}
    </article>
  </div>
</section>

<nav class="post-pagination">
  <div class="container">
    <nav class="post-pagination-share">
    </nav>

    {% if page.previous %}
      <a class="post-pagination-link is-next" href="{{page.previous.url}}" rel="previous">
        Next &rarr;
        <strong>{{page.previous.title}}</strong>
      </a>
    {% else %}
      <a class="post-pagination-link is-next" href="/articles" rel="previous">
        Back to articles! &uarr;
        <strong>You've reached the end</strong>
      </a>
    {% endif %}

    <nav class="post-pagination-before">
      {% if page.next %}
        <a class="post-pagination-link is-previous" href="{{page.next.url}}" rel="next">
          &larr; Previous
        </a>
      {% else %}
        <span class="post-pagination-link is-previous is-disabled">
          &larr; Previous
        </span>
      {% endif %}

      <a id="top" class="post-pagination-link is-top">
        Back to top &uarr;
      </a>
    </nav>
  </div>
</nav>
